.about-us-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    /* padding: 1rem; */
    position: relative;
    background-color: var(--primary-color);
}

.about-us-section-container h2,
.about-us-section-container p {
    margin-left: 2rem;
    color: var(--background-color);
}

.text-section {
    max-width: 50%;
    z-index: 1;
}

.image-section {
    max-width: 100%;
    position: relative;
    height: 100%;
}

@media (max-width: 991px) {
    .about-us-section {
        flex-direction: column;
    }

    .text-section,
    .image-section {
        max-width: 100%;
        text-align: center;
    }

    .image-section::before {
        clip-path: none;
    }

    .about-us-section h2,
    .about-us-section p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}