.about-us-section {
    background: url('../img/rigo-baby.jpg') no-repeat center center;
    background-size: cover;
    color: var(--secondary-color);
    padding: 4rem 2rem;
    text-align: center;
}

.about-us-content h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: var(--background-color);
}

.about-us-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--background-color);
}

.about-us-content p {
    margin-bottom: 2rem;
    color: var(--background-color);
}

.about-us-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.about-us-btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);

}