.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: var(--background-color);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.top-rated-card {
    border-top: 5px solid var(--primary-color);
}

.top-rated-banner {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 5px;
    position: absolute;
    top: -1px;
    right: -1px;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.1em;
    color: var(--secondary-color);
}

.card-text {
    font-size: 0.9em;
    color: var(--fourth-color);
}

.price {
    color: var(--third-color);
    font-weight: bold;
    font-size: 1.2em;
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.card-rating .fa-star {
    color: var(--primary-color);
    margin-right: 2px;
}