/* .footer {
    background: linear-gradient(to bottom, var(--secondary-color) 85%, var(--primary-color) 15%);
    color: var(--background-color);
    padding: 3rem 0;
    font-size: 0.9rem;
} */

.footer-container {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 4rem 0;
    font-size: 0.9rem;
    height: auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.footer-col {
    margin-bottom: 2rem;
}

.logo-col {
    flex-basis: 20%;
    min-width: 150px;
}

.footer-logo {
    margin-bottom: 1rem;
}

.copyright-year {
    color: var(--background-color);
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: var(--background-color);
}

.social-links a:hover {
    color: var(--primary-color);
}

.quick-links h5,
.newsletter h5 {
    color: var(--background-color);
    margin-bottom: 0.5rem;
}

.quick-links a,
.newsletter a {
    display: block;
    color: var(--background-color);
    margin-bottom: 0.25rem;
    text-decoration: none;
}

.quick-links a:hover,
.newsletter a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.newsletter {
    flex-basis: 30%;
}

.tLogo {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    filter: brightness(0) invert(1);
}


@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .social-links {
        margin-top: 1rem;
    }
}