footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

footer a {
    color: var(--primary-color);
}

footer a:hover {
    color: var(--fourth-color);
}

footer h5 {
    color: var(--background-color);
}

.company-logo {
    background-color: var(--third-color);
    border: 1px solid var(--fourth-color);
}

.tLogo {
    background-color: transparent;
}