:root {
    /* Color #1 | Background color of all pages, plus titles and text when background is #2 & #3. */
    --background-color: #ffffff;

    /* Color #2 | Background color for jumbotrons, certain containers, and primary buttons. */
    --primary-color: #0F9AD7;

    /* Color #3 | Color for titles, text, and secondary buttons. &  */
    --secondary-color: #1F303B;

    /* Color #4 | Shaded light-gray color for shapes that need to stand out from background – Boxes, circles, shaded logos, containers, etc. */
    --third-color: #E4E7E8;

    /* Color #5 | Used for outlines, borders, accentuate buttons, etc. */
    --fourth-color: #0A1822;
}


/* Primary Button */
.button-62-primary {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px var(--secondary-color);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 51%, var(--primary-color) 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: var(--secondary-color) 2px solid;
}

.button-62-primary:hover {
    background-position: right center;
    color: var(--background-color);
    text-decoration: none;
}

.button-62-primary:active {
    transform: scale(0.95);
}


/* Second Button */
.button-62-secondary {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--background-color);
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px var(--background-color);
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 51%, var(--primary-color) 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: var(--background-color) 2px solid;
}

.button-62-secondary:hover {
    background-position: right center;
    color: var(--background-color);
    text-decoration: none;
}

.button-62-secondary:active {
    transform: scale(0.95);
}



/* Third Button */
.button-62-third {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--background-color);
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px var(--secondary-color);
    background-image: linear-gradient(45deg, var(--background-color) 0%, var(--primary-color) 51%, var(--primary-color) 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: var(--background-color) 2px solid;
}

.button-62-third:hover {
    background-position: right center;
    color: var(--background-color);
    text-decoration: none;
}

.button-62-third:active {
    transform: scale(0.95);
}