.jumbotron {
    position: relative;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* height: 300px; */
}

/* Carousel Styling */
.jumbotron::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 150vh solid #fff;
    z-index: 1;
}

.carousel-triangle-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70.5%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
    background: white;
    z-index: 1;
}

.carousel-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
    box-shadow: 0 0 0 10px white;
}

.carousel-triangle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel-triangle img.active {
    opacity: 1;
}

.carousel-triangle img:nth-child(1) {
    position: absolute;
}

.carousel-triangle img:nth-child(2) {
    position: absolute;
}

.carousel-triangle img:nth-child(3) {
    position: absolute;
}


.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron h1 {
    color: var(--third-color);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.jumbotron h3 {
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.jumbotron ul {
    list-style: none;
    padding: 0;
    font-weight: 500;
}

.jumbotron ul li {
    padding-left: 1.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.jumbotron ul li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--third-color);
}

.jumbotron .btn {
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.jumbotron .btn-primary {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.jumbotron .btn-secondary {
    background-color: var(--fourth-color);
    border-color: var(--fourth-color);
    color: #fff;
}