/* SignUp.module.css */

:local .container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 50px;
}

:local .signup {
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  text-align: center; /* Center text horizontally */
}

:local .signup input {
  width: calc(100% - 40px); /* Adjust input width */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #012135;
  border-radius: 5px;
}

:local .signup button {
  width: calc(100% - 40px); /* Adjust button width */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00aeef;
  color: #ffffff;
  cursor: pointer;
}

:local .signupText {
  color: #012135;
  margin-top: 20px;
  text-align: center;
}


:local .message {
  color: red; /* Make the message red */
  text-align: center;
}


:local .inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin between input groups */
}

:local .icon {
  margin-right: 10px; /* Add margin between icon and input box */
}
:local .iconMail {
  margin-right: 8px; /* Add margin between icon and input box */
  margin-bottom: 15px;
}
